
# Function Reference

| Function | Summary |
| --- | --- |
{% for category in categories -%}
{% for function in category.functions -%}
    | [`{{ function.name }}`](#{{ function.name }}) | {{ function.summary }}|
{% endfor %}
{%- endfor %}

{% for category in categories -%}
## {{ category.name | replace('-', ' ') | title }}

{% for function in category.functions %}
### {{ function.name }}

{{ function.summary }}

```sql
{% for sig in function.signatures -%}
{{ sig.return_type }} {{ function.name }}(
{%- for arg in sig.params -%}
    {%- if loop.index > 1 %}, {% endif -%}
    {{ arg.name }} {{ arg.type }}
{%- endfor -%}
)
{% endfor -%}
```

{% if function.description -%}
#### Description

{{ function.description }}
{% endif -%}

{% if function.example %}
#### Example

```sql
{{ function.example }}
```
{% endif -%}
{%- endfor -%}
{%- endfor -%}
